

body { 
	
	color: #666666; 
	background-color: #B8DBED; 
	font-family: Arial, Helvetica, sans-serif;
	
	}

header { 
	
	color: #FFFFFF; 
	background-color: #000033; 
	/*background-image: url("sunset.jpg");
	background-repeat: no-repeat;
	background-position: right;*/
	text-align: center;
	height: 120px;
	padding-top: 30px;
	padding-left: 3em;

	}
label	{

	float: left;
	display: block;
	text-align: right;
	width: 120px;
	padding-right: 20px;
	
	}

input	{
	
	display: block;
	margin-bottom: 20px;

	}

textarea {

	display: block;
	margin-bottom: 20px;

	}
	

input [type="submit"]{ margin-left: 130px;}

.mySubmit { margin-left: 130px;}
nav { 
	
	/*background-color: #FFFFFF;*/ 
	font-weight: bold;
	/*text-align: center;*/
	padding: 1.5em;
	font-size: 120%;
	float: left;
	width: 160px;
	
	}
nav a {
	
	text-decoration: none;
	
	
	}

nav ul {

 	list-style-type: none;
  	margin: 0;
  	padding-left: 0;
	font-size: 1.2em;

	}

nav ul a:link {

	color: #5C7FA3;

	}

nav ul a:visited {

	color: #344873;

	}

nav ul a:hover {

	color: #A52A2A;

	}

	
main {
	
	padding-top: 1px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 30px;
	display: block;
	background-color: #FFFFFF;
	margin-left: 190px;

	}
h1 {

	margin-top: 0;
	margin-bottom: 0;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 3em;
	letter-spacing: .25em;
	

	}
h2 { 
	
	color: #3399CC; 
	font-family: Georgia, "Times New Roman", serif;
	text-shadow: 1px 1px #CCCCCC;
	
	}
h3 {

	font-family: Georgia, "Times New Roman", serif;
	color: #000033;

	}

main ul {

	list-style-image: url('marker.gif');
	
	}

dt { 
	
	color: #000033; 
	
	}

footer {

	font-size: 75%;
	font-style: italic;
	text-align: center;
	font-family: Georgia, "Times New Roman", serif;
	padding: 20px;
	background-color: #FFFFFF;
	margin-left: 190px;

	}

header, main, nav, footer, figure, figcaption, aside, section, article 

	{ 

	display: block; 

	}

#homehero {

	height: 300px;
	margin-left: 190px;
	background-image: url("coast2.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	}

#yurthero {

	height: 300px;
	margin-left: 190px;
	background-image: url("yurt.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	}

#trailhero {

	height: 300px;
	margin-left: 190px;
	background-image: url("trail.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;

	}

#wrapper { 
	
	width: 80%;
	max-width: 2048px;
	min-width: 960px; 
        margin-left: auto;
        margin-right: auto;
	background-color: #90C7E3;
	box-shadow: 3px 3px #333333; 
	border-style: solid;
	border-width: 1px;
	border-color: #000033; 
	background-image: linear-gradient(#FFFFFF, #90C7E3);
	
	}

#contact {

	font-size: 90%;
    
	}

#mobile {

	display: none;

	}

#desktop {

	display: inline;

	}




.resort {
	
	color: #5C7FA3;
	font-weight: bold;
	}

* 	{ 

	box-sizing: border-box; 

	}

@media only screen and (max-width: 64em) 
	{

body {
	
	background-color: #FFFFFF;
	margin: 0; 
	}

#wrapper {
	min-width: 0;
	width: auto;
	box-shadow: none;
	border: none;
	
	}

header {

	
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0;
	height: auto;

	}

h1 {

	letter-spacing: 0.1em;
	
	}

main {

	margin-left: 0;

	}

nav {

	float: none;
	width: auto;
	text-align: center;
	padding: 0.5em;

	}

nav ul a {

	display: inline;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	
	}

#homehero {

	margin-left: 0;
	height: 200px;

	}

#yurthero {

	margin-left: 0;
	height: 200px;

	}

#trailhero {

	margin-left: 0;
	height: 200px;

	}

footer {

	margin-left: 0;

	}

 	}

@media only screen and (max-width: 37.5em) 
	{



main {

	
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 90%;

	}

h1 {

	font-size: 2em;
	
	}


nav {

	padding: 0;

	}

nav ul a {

	display: block;
	margin: 0;
	border-style: solid;
	border-width: 2px;
	border-color: #330000;
	
	}


#homehero {

	display: none;
	background-image: none;
	height: 0;

	}

#yurthero {

	display: none;
	background-image: none;
	height: 0;

	}

#trailhero {

	display: none;
	background-image: none;
	height: 0;

	}

#mobile {

	display:inline;

	}

#desktop {

	display: none;

	}

label 	{ 

	float: none; 
	text-align: left; 

	} 

input	[type="submit"] { margin-left: 0; }

 	}